@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9838 0.0079 73.7454);
  --foreground: oklch(0.2896 0.0485 52.8674);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2896 0.0485 52.8674);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2896 0.0485 52.8674);
  --primary: oklch(0.4116 0.0777 54.0179);
  --primary-foreground: oklch(0.9838 0.0079 73.7454);
  --secondary: oklch(0.8738 0.0498 82.136);
  --secondary-foreground: oklch(0.2896 0.0485 52.8674);
  --muted: oklch(0.9475 0.0172 84.5875);
  --muted-foreground: oklch(0.5107 0.0888 62.8218);
  --accent: oklch(0.8478 0.1214 85.3791);
  --accent-foreground: oklch(0.2896 0.0485 52.8674);
  --destructive: oklch(0.4681 0.1523 24.8701);
  --destructive-foreground: oklch(0.9838 0.0079 73.7454);
  --border: oklch(0.8738 0.0498 82.136);
  --input: oklch(0.9838 0.0079 73.7454);
  --ring: oklch(0.6235 0.0968 63.8768);
  --chart-1: oklch(0.4116 0.0777 54.0179);
  --chart-2: oklch(0.6235 0.0968 63.8768);
  --chart-3: oklch(0.7425 0.1187 78.6641);
  --chart-4: oklch(0.5084 0.0587 147.037);
  --chart-5: oklch(0.4681 0.1523 24.8701);
  --sidebar: oklch(0.2896 0.0485 52.8674);
  --sidebar-foreground: oklch(0.8738 0.0498 82.136);
  --sidebar-primary: oklch(0.6235 0.0968 63.8768);
  --sidebar-primary-foreground: oklch(0.9838 0.0079 73.7454);
  --sidebar-accent: oklch(0.4116 0.0777 54.0179);
  --sidebar-accent-foreground: oklch(0.8738 0.0498 82.136);
  --sidebar-border: oklch(0.4116 0.0777 54.0179);
  --sidebar-ring: oklch(0.6235 0.0968 63.8768);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: #3e2413;
  --shadow-2xs: 0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.04);
  --shadow-sm:
    0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.08),
    0px 1px 2px -1px hsl(23.7209 53.0864% 15.8824% / 0.08);
  --shadow:
    0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.08),
    0px 1px 2px -1px hsl(23.7209 53.0864% 15.8824% / 0.08);
  --shadow-md:
    0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.08),
    0px 2px 4px -1px hsl(23.7209 53.0864% 15.8824% / 0.08);
  --shadow-lg:
    0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.08),
    0px 4px 6px -1px hsl(23.7209 53.0864% 15.8824% / 0.08);
  --shadow-xl:
    0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.08),
    0px 8px 10px -1px hsl(23.7209 53.0864% 15.8824% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(23.7209 53.0864% 15.8824% / 0.2);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.213 0.0306 54.0297);
  --foreground: oklch(0.8738 0.0498 82.136);
  --card: oklch(0.2547 0.0407 53.5695);
  --card-foreground: oklch(0.8738 0.0498 82.136);
  --popover: oklch(0.2547 0.0407 53.5695);
  --popover-foreground: oklch(0.8738 0.0498 82.136);
  --primary: oklch(0.6235 0.0968 63.8768);
  --primary-foreground: oklch(0.213 0.0306 54.0297);
  --secondary: oklch(0.4116 0.0777 54.0179);
  --secondary-foreground: oklch(0.8738 0.0498 82.136);
  --muted: oklch(0.2896 0.0485 52.8674);
  --muted-foreground: oklch(0.6235 0.0968 63.8768);
  --accent: oklch(0.8478 0.1214 85.3791);
  --accent-foreground: oklch(0.213 0.0306 54.0297);
  --destructive: oklch(0.5433 0.174 29.6967);
  --destructive-foreground: oklch(0.9838 0.0079 73.7454);
  --border: oklch(0.2896 0.0485 52.8674);
  --input: oklch(0.2896 0.0485 52.8674);
  --ring: oklch(0.6235 0.0968 63.8768);
  --chart-1: oklch(0.6235 0.0968 63.8768);
  --chart-2: oklch(0.8478 0.1214 85.3791);
  --chart-3: oklch(0.8738 0.0498 82.136);
  --chart-4: oklch(0.6166 0.057 148.109);
  --chart-5: oklch(0.5433 0.174 29.6967);
  --sidebar: oklch(0.1813 0.0232 53.6776);
  --sidebar-foreground: oklch(0.8738 0.0498 82.136);
  --sidebar-primary: oklch(0.6235 0.0968 63.8768);
  --sidebar-primary-foreground: oklch(0.1813 0.0232 53.6776);
  --sidebar-accent: oklch(0.2896 0.0485 52.8674);
  --sidebar-accent-foreground: oklch(0.8478 0.1214 85.3791);
  --sidebar-border: oklch(0.2896 0.0485 52.8674);
  --sidebar-ring: oklch(0.6235 0.0968 63.8768);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm:
    0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow:
    0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md:
    0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg:
    0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl:
    0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: Cairo;
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }
  button,
  input,
  select,
  textarea {
    @apply text-foreground;
  }
}
